@charset "UTF-8";
/* import de la police shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import de la police roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* définition des breakpoints */
/* responsive : création d'une mixin tablette */
/* responsive : création d'une mixin desktop */
/* définition des couleurs */
/* définition des ombres portées */
/* configuration de la police roboto comme règle générale */
body {
  font-family: roboto;
  max-width: 1000px;
  margin: auto;
}

/* configuration de la police shrikhand pour tout logo */
.footer__logo, .header__logo, .loader {
  font-family: Shrikhand;
}

/* suppression du soulignement des liens comme règle générale */
a {
  text-decoration: none;
}

/* extension display flex row */
.dish__card, .dish__header, .restaurant-card__last-line-container, .process__button, .header__input-container, .header__logo, .header__container {
  display: flex;
  flex-direction: row;
}

/* extension display flex column */
.dish__visible-part, .dish__2-cards-container, .restaurant-card__text, .restaurant-card__elements-container, .header__greybg {
  display: flex;
  flex-direction: column;
}

/* extension align items center */
.dish__header, .restaurant-card__last-line-container, .process__button, .header__greybg, .header__input-container, .header__container {
  align-items: center;
}

/* extension align items space-between */
.header__input-container, .header__logo {
  justify-content: center;
}

/* extension fond en gris clair */
.restaurants, .process__button, .header__greybg {
  background: #f7f7f7;
}

/* extension fond en blanc */
.header__logo, .header__container {
  background: white;
}

/* extension fond en dégradé */
.menu__button, .header__button {
  background: linear-gradient(#FF79D4, #9356DC);
}

.restaurant-card__picture {
  border-radius: 20px 20px 0 0;
}

/* extension design de card */
.dish__card, .restaurant-card__elements-container {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 25px;
  margin-right: 5px;
  padding-bottom: 10px;
  position: relative;
}

.loader {
  background: #eaeaea;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: apparition-magique 3200ms forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  display: none;
}
.loader__verre {
  width: 100px;
  height: 100px;
  position: relative;
}
.loader__verre--mint {
  position: relative;
  top: -103px;
  width: 100px;
  height: 100px;
  z-index: 99;
  animation: diminution-aboire 700ms both;
}
.loader__verre--pink {
  position: relative;
  top: -203px;
  left: 0;
  width: 100px;
  height: 100px;
  animation: diminution-aboire 700ms both 1000ms;
}
.loader__verre--purple {
  position: relative;
  top: -303px;
  left: 0;
  width: 100px;
  height: 100px;
  animation: diminution-aboire 700ms both 2000ms;
}

@keyframes apparition-magique {
  0%, 80% {
    opacity: 1;
    transform: scaleX(1);
  }
  99% {
    opacity: 0;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes diminution-aboire {
  0% {
    transform: scaleY(0%) scaleX(0%);
  }
  50% {
    transform: scaleY(70%) scaleX(80%);
  }
  100% {
    transform: scaleY(0%) scaleX(0%);
  }
}
/* configuration du header */
.header {
  /*configuration de la flèche arrière dans le header sur page restaurant : uniquement en version mobile */
  /* configuration du logo dans le header sur index.html */
  /* configuration de l'input-container dans le header sur index.html*/
  /* INDEX configuration de la zone input dans le header*/
  /* INDEX configuration de l'icone à côté de la zone input */
  /* INDEX configuration du bouton violet dans le header sur la page index*/
}
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  color: #353535;
}
.header__input-container {
  position: relative;
}
.header__input-container {
  color: #353535;
  background: #eaeaea;
  padding-left: 20px;
}
.header__input-container input {
  border: 0;
  background: #eaeaea;
  padding: 10px;
}
.header__input-container input::placeholder {
  color: #353535;
  font-family: Roboto;
}
.header__icone {
  position: relative;
  width: 30px;
  color: #353535;
}
.header__button {
  opacity: 1;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 20px;
  /* insertion d'un pseudo élément pour le changement de couleur au survol*/
  /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
}
.header__button:after {
  content: "";
  background: linear-gradient(#ff88d9 0%, #9b63df 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.302);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 210ms;
  border-radius: 20px;
}
.header__button:hover:after {
  opacity: 1;
}

/* INDEX mise en place de la zone décrivant le fonctionnement */
.process {
  padding: 1em;
  /* mise en place du display en version tab */
  /* configuration des boutons dans la zone de fonctionnement */
  /* configuration des icônes dans la zone de fonctionnement */
}
.process a:link,
.process a:visited,
.process a:hover,
.process a:active {
  color: #353535;
}
@media screen and (min-width: 768px) {
  .process__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.process__button {
  opacity: 1;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 25px;
  /* insertion d'un pseudo élément pour le changement de couleur au survol*/
  /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
}
.process__button::after {
  content: "";
  background: #ece1f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.302);
  border-radius: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 210ms;
}
.process__button:hover::after {
  opacity: 1;
}
.process__button:hover:hover > .process__icon {
  color: #9356DC;
}
.process__icon {
  color: #7e7e7e;
  position: relative;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 1.1em;
}
.process__number {
  background: #9356DC;
  padding: 8px;
  position: absolute;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  height: 8px;
}
.process__number p {
  position: relative;
  top: -11px;
}

/* INDEX configuration de la zone restaurants */
.restaurants {
  padding: 1em;
}

/* INDEX configuration des cards dans la zone restaurants */
.restaurant-card {
  /* configuration du container qui contient 2 cards de plats */
  /*configuration du container qui contient : l'image, le texte*/
  /* configuration du container qui contient : titre, texte, icone*/
  /* configuration du container qui contient text : titre, texte*/
  /* configuration de l'icone coeur dans la card */
}
.restaurant-card a:link,
.restaurant-card a:visited,
.restaurant-card a:hover,
.restaurant-card a:active {
  color: #353535;
}
@media screen and (min-width: 768px) {
  .restaurant-card__principal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.restaurant-card__new-tag {
  color: #008766;
  background: #99e2d0;
  width: fit-content;
  position: relative;
  top: 15px;
  align-self: flex-start;
  z-index: 99;
}
.restaurant-card__elements-container p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.restaurant-card__picture {
  width: 102.5%;
  height: 23vh;
  object-fit: cover;
  position: relative;
  top: -5px;
  left: -5px;
}
@media screen and (min-width: 768px) {
  .restaurant-card__picture {
    width: 104%;
  }
}
.restaurant-card__last-line-container {
  justify-content: space-between;
}
.restaurant-card__heart {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 22px;
}
.restaurant-card__heart::before {
  color: #353535;
  content: "\f004";
  transition: color 100ms ease-in-out;
}
.restaurant-card__heart:active::before {
  cursor: pointer;
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* INDEX stylisation du bouton du menu (sur l'index uniquement) */
.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active {
  color: #353535;
}
.menu__button {
  align-self: center;
  opacity: 1;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* stylisation du pseudo élément after avec l'opacity*/
  /* stylisation du pseudo élément lors du hover avec une opacité à 1*/
}
.menu__button:after {
  content: "";
  background: linear-gradient(#ff88d9 0%, #9b63df 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.302);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 210ms;
}
.menu__button:hover:after {
  opacity: 1;
}

.dish a:link,
.dish a:visited,
.dish a:hover,
.dish a:active {
  color: #353535;
}
.dish__category {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dish__2-cards-container {
    display: flex;
    flex-direction: row;
  }
}
.dish__card {
  width: 98%;
  height: 80px;
  position: relative;
  opacity: 0;
  animation: progressive-appearance 1000ms forwards;
}
.dish__card--1 {
  animation-delay: 333.3333333333ms;
}
.dish__card--2 {
  animation-delay: 666.6666666667ms;
}
.dish__card--3 {
  animation-delay: 1000ms;
}
@media screen and (min-width: 768px) {
  .dish__card {
    width: 44%;
  }
}
.dish__card:active > .dish__visible-part {
  width: 80%;
}
.dish__card:active > .dish__sliding-part {
  opacity: 1;
  transform: translateX(0%);
}
.dish__ok-icon {
  color: white;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  height: 95px;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg);
  transition: transform 400ms ease-in 50ms;
}
.dish__visible-part {
  position: relative;
  width: 90%;
  transition: width 200ms ease-in-out;
}
.dish__visible-part:active + .dish__sliding-part > .dish__ok-icon {
  transform: rotate(0deg);
}
.dish__title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__sliding-part {
  background: #99E2DD;
  border-radius: 0 20px 20px 0;
  height: 95px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}
.dish__price {
  margin: 10px;
  padding-right: 10Px;
}

@keyframes progressive-appearance {
  0%, 20% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* configuration du footer */
.footer {
  background: #353535;
  color: white;
  padding: 1em;
  /* configuration du logo dans le footer */
  /* configuration du menu dans le footer */
  /*configuration des éléments de liste dans le menu du footer */
}
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: white;
}
.footer__menu {
  padding-inline-start: 0px;
}
.footer__menu a:link,
.footer__menu a:visited,
.footer__menu a:hover,
.footer__menu a:active {
  color: white;
}
.footer__element {
  list-style: none;
  color: white;
}
.footer__element a:link,
.footer__element a:visited,
.footer__element a:hover,
.footer__element a:active {
  color: white;
}
.footer__element a:hover {
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
