@charset "UTF-8";
/* import de la police shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import de la police roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* définition des breakpoints */
/* responsive : création d'une mixin tablette */
/* responsive :c réation d'une mixin desktop */
/* définition des couleurs */
/* configuration de la police roboto comme règle générale */
body {
  font-family: roboto;
}

/* configuration de la police shrikhand pour tout logo */
.footer__logo, .header__logo {
  font-family: Shrikhand;
}

/* suppression du soulignement des liens comme règle générale */
a {
  text-decoration: none;
}

/* extension display flex row */
.menu__last-line-container, .menu__header, .restaurant-card__second-container, .process__button, .header__container, .header__input {
  display: flex;
  flex-direction: row;
}

/* extension display flex column */
.restaurant-card__text {
  display: flex;
  flex-direction: column;
}

/* extension align items center */
.menu__header, .restaurant-card__second-container, .process__button, .header__container, .header__input {
  align-items: center;
}

/* extension align items space-between */
.menu__last-line-container {
  justify-content: space-between;
}

/* extension fond en gris clair */
.menu, .restaurants, .header {
  background-color: #f7f7f7;
}

/* extension fond en blanc */
.header__container, .header__logo {
  background-color: white;
}

.menu__card, .restaurant-card__first-container {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 15px;
  margin-right: 5px;
  padding-bottom: 10px;
}

/* configuration du header */
.header {
  /* configuration de l'input dans le header sur index.html*/
  /* configuration du logo dans le header sur index.html */
  /*configuration de la flèche arrière dans le header sur page restaurant */
}
.header__input {
  background-color: #eaeaea;
}
/* configuration de la zone décrivant le fonctionnement */
.process {
  /* configuration des boutons dans la zone de fonctionnement */
  /* configuration des icônes dans la zone de fonctionnement */
}
.process__icon {
  color: #353535;
}

/* configuration de la zone restaurants */
/* configuration des cards dans la zone restaurants */
.restaurant-card {
  /*configuration du container principal */
  /* configuration du second container : titre, texte, icone*/
  /* configuration du container text : titre, texte*/
  /* configuration de l'icone coeur dans la card */
}
.restaurant-card__heart {
  color: #353535;
}

.menu__button {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .menu__principal-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu__secondary-container {
    display: flex;
    flex-direction: row;
  }
}

/* configuration du footer */
.footer {
  background: #353535;
  color: white;
  /* configuration du logo dans le footer */
  /* configuration du menu dans le footer */
  /*configuration des éléments de liste dans le menu du footer */
}
.footer__menu {
  padding-inline-start: 0px;
}
.footer__element {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
