/* import de la police shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* import de la police roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* définition des breakpoints */
$breakpoints:(tab-only: 768px,
    desktop-only: 992px);

/* responsive : création d'une mixin tablette */
@mixin tab-only {
    @media screen and (min-width: map-get($breakpoints, tab-only)) {
        @content;
    }
}

/* responsive : création d'une mixin desktop */
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop-only)) {
        @content;
    }
}

@mixin heart-icon-before {
    color: $color-dark-grey;
    content: "\f004";
    transition: color 100ms ease-in-out;
}

@mixin heart-icon-hover-before {
    cursor: pointer;
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* définition des couleurs */
$color-primary: #9356DC;
$color-secondary: #FF79D4;
$color-tertiary: #99E2DD;
$color-light-grey: #f7f7f7;
$color-light-grey-2: #eaeaea;
$color-medium-grey: #7e7e7e;
$color-dark-grey: #353535;


/* définition des ombres portées */
$default-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$darker-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.302);


/* configuration de la police roboto comme règle générale */
body {
    font-family: roboto;
    max-width: 1000px;
    margin: auto;
}

/* configuration de la police shrikhand pour tout logo */
%font_logo {
    font-family: Shrikhand;
}

/* suppression du soulignement des liens comme règle générale */
a {
    text-decoration: none;
    color: $color-dark-grey;
}

/* extension display flex row */
%display_flexrow {
    display: flex;
    flex-direction: row;
}

/* extension display flex column */
%display_flexcolumn {
    display: flex;
    flex-direction: column;
}

/* extension align items center */
%alignitems_center {
    align-items: center;
}

/* extension align items space-between */
%justifycontent_spacebetween {
    justify-content: space-between;
}

%justifycontent_center {
    justify-content: center;
}

/* extension fond en gris clair */
%bg-light-grey {
    background: $color-light-grey;
}

/* extension fond en blanc */
%bg-white {
    background: white;
}

/* extension fond en dégradé */
%bg-gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

/* extension design de card */
%card_design {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: $default-box-shadow;
    transition: 0.3s;
    margin-bottom: 15px;
    margin-right: 5px;
    padding-bottom: 10px;
}


.loader {
    background: $color-light-grey-2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: apparition-magique 3200ms forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    @extend %font_logo;

    &__verre {
        width: 100px;
        height: 100px;
        position: relative;
    }

    &__verre--mint {
        position: relative;
        top: -103px;
        width: 100px;
        height: 100px;
        z-index: 99;
        animation: diminution-aboire 700ms both;
    }

    &__verre--pink {
        position: relative;
        top: -203px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 700ms both 1000ms;
    }

    &__verre--purple {
        position: relative;
        top: -303px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 700ms both 2000ms;
    }
}

@keyframes apparition-magique {

    0%,
    80% {
        opacity: 1;
        transform: scaleX(1);
    }

    99% {
        opacity: 0;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }


}

@keyframes diminution-aboire {
    0% {
        transform: scaleY(0%) scaleX(0%);
    }

    50% {
        transform: scaleY(70%) scaleX(80%);
    }

    100% {
        transform: scaleY(0%) scaleX(0%);
    }
}

/* configuration du header */
.header {
    @extend %bg-light-grey;

    /*configuration de la flèche arrière dans le header sur page restaurant : uniquement en version mobile */
    &__container {
        @extend %bg-white;
        @extend %display_flexrow;
        @extend %alignitems_center;
    }

    /* configuration du logo dans le header sur index.html */
    &__logo {
        @extend %font_logo;
        @extend %bg-white;
    }

    /* configuration de l'input-container dans le header sur index.html*/
    &__input-container {
        @extend %display_flexrow;
        @extend %alignitems_center;
        background-color: $color-light-grey-2;
        position: relative;
    }

    /* INDEX configuration de la zone input dans le header*/
    &__input {
        color: $color-dark-grey;
        padding-left: 20px;

        &::placeholder {
            color: $color-dark-grey;
        }
    }

    /* INDEX configuration de l'icone à côté de la zone input */
    &__icone {
        position: absolute;
        top: 2.5px;
        bottom: 0;
        left: 5px;
        right: 0;
        width: 30px;
        color: $color-dark-grey;
    }

    /* INDEX configuration du bouton violet dans le header sur la page index*/
    &__button {
        @extend %bg-gradient;
        opacity: 1;
        position: relative;
        z-index: 1;
        box-shadow: $default-box-shadow;

        /* insertion d'un pseudo élément pour le changement de couleur au survol*/
        &:after {
            content: "";
            background: linear-gradient(lighten($color-secondary, 3) 0%, lighten($color-primary, 3) 100%);
            box-shadow: $darker-box-shadow;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
        }

        /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}


/* INDEX mise en place de la zone décrivant le fonctionnement */
.process {

    /* mise en place du display en version tab */
    &__container {
        @include tab-only {
            display: flex;
            flex-direction: row;
        }
    }

    /* configuration des boutons dans la zone de fonctionnement */
    &__button {
        @extend %display_flexrow;
        @extend %alignitems_center;
        @extend %bg-light-grey;
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;
        position: relative;
        border-radius: 20px;

        /* insertion d'un pseudo élément pour le changement de couleur au survol*/
        &::after {
            content: "";
            background: lighten($color-primary, 33);
            box-shadow: $darker-box-shadow;
            border-radius: 20px;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
        }

        /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
        &:hover {
            &::after {
                opacity: 1;
            }

            &:hover>.process__icon {
                color: $color-primary;
            }

        }
    }

    /* configuration des icônes dans la zone de fonctionnement */
    &__icon {
        color: $color-medium-grey;
        position: relative;
    }
}

/* INDEX configuration de la zone restaurants */
.restaurants {
    @extend %bg-light-grey;
}

/* INDEX configuration des cards dans la zone restaurants */
.restaurant-card {

    /* configuration du container qui contient 2 cards de plats */
    &__principal-container {
        @include tab-only {
            display: flex;
            flex-direction: row;
        }
    }

    /*configuration du container qui contient : l'image, le texte*/
    &__elements-container {
        @extend %card_design;
    }


    /* configuration du container qui contient : titre, texte, icone*/
    &__last-line-container {
        @extend %display_flexrow;
        @extend %alignitems_center;
    }

    /* configuration du container qui contient text : titre, texte*/
    &__text {
        @extend %display_flexcolumn;
    }

    /* configuration de l'icone coeur dans la card */
    &__heart {
        &::before {
            @include heart-icon-before;
        }

        &:active::before {
            @include heart-icon-hover-before;
        }
    }
}

/* INDEX stylisation du bouton du menu (sur l'index uniquement) */
.menu {
    &__button {
        align-self: center;
        @extend %bg-gradient;
        opacity: 1;
        position: relative;
        z-index: 1;
        box-shadow: $default-box-shadow;

        /* stylisation du pseudo élément after avec l'opacity*/
        &:after {
            content: "";
            background: linear-gradient(lighten($color-secondary, 3) 0%, lighten($color-primary, 3) 100%);
            box-shadow: $darker-box-shadow;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
        }

        /* stylisation du pseudo élément lors du hover avec une opacité à 1*/
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}


$width-slide: 50px;
$cards-number: 3;
$anim-dur: 1000ms;
$anim-delay: $anim-dur/$cards-number;


.dish {
    &__header {
        @extend %display_flexrow;
        @extend %alignitems_center;
    }

    &__category {
        width: 100%;
    }

    &__2-cards-container {
        @extend %display_flexcolumn;

        @include tab-only {
            display: flex;
            flex-direction: row;
        }
    }

    &__card {
        @extend %display_flexrow;
        @extend %card_design;
        width: 98%;
        height: 80px;
        position: relative;
        opacity: 0;
        animation: progressive-appearance $anim-dur forwards;

        @for $i from 1 through $cards-number {
            &--#{$i} {
                animation-delay: ($anim-delay * $i);
            }
        }


        @include tab-only {
            width: 44%;
        }

        &:active>.dish__visible-part {
            width: 80%;
        }

        &:active>.dish__sliding-part {
            opacity: 1;
            transform: translateX(0%);
        }

    }

    &__ok-icon {
        color: white;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        height: 95px;
        justify-content: center;
        align-items: center;
        transform: rotate(-180deg);
        transition: transform 400ms ease-in 50ms;
    }

    &__visible-part {
        position: relative;
        @extend %display_flexcolumn;
        width: 90%;
        transition: width 200ms ease-in-out;

        &:active+.dish__sliding-part>.dish__ok-icon {
            transform: rotate(0deg);
        }


    }


    &__title {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__sliding-part {
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        height: 95px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $width-slide;
        opacity: 0;
        transform: translateX(100%);
        transition: all 200ms ease-in-out;
    }



    &__price {
        margin: 10px;
        padding-right: 10Px;
    }
}


@keyframes progressive-appearance {

    0%,
    20% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}




/* configuration du footer */
.footer {
    background: $color-dark-grey;
    color: white;

    /* configuration du logo dans le footer */
    &__logo {
        @extend %font_logo;
    }

    /* configuration du menu dans le footer */
    &__menu {
        padding-inline-start: 0px;
    }

    /*configuration des éléments de liste dans le menu du footer */
    &__element {
        list-style: none;
        color: white;

        & a:link {
            color: white;
        }

        & a:hover {
            font-weight: 500;
        }
    }
}