/* import de la police shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* import de la police roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* définition des breakpoints */
$breakpoints:(tab-only: 768px,
    desktop-only: 992px);

/* responsive : création d'une mixin tablette */
@mixin tab-only {
    @media screen and (min-width: map-get($breakpoints, tab-only)) {
        @content;
    }
}

/* responsive : création d'une mixin desktop */
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop-only)) {
        @content;
    }
}

@mixin heart-icon-before {
    color: $color-dark-grey;
    content: "\f004";
    transition: color 100ms ease-in-out;
    cursor: pointer;
}

@mixin heart-icon-hover-before {
    cursor: pointer;
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
}

/* définition des couleurs */
$color-primary: #9356DC;
$color-secondary: #FF79D4;
$color-tertiary: #99E2DD;
$color-light-grey: #f7f7f7;
$color-light-grey-2: #eaeaea;
$color-medium-grey: #7e7e7e;
$color-dark-grey: #353535;


/* définition des ombres portées */
$default-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$darker-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.302);


/* configuration de la police roboto comme règle générale */
body {
    font-family: roboto;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
}


/* configuration de la police shrikhand pour tout logo */
%font_logo {
    font-family: Shrikhand;
}

/* suppression du soulignement des liens comme règle générale */
a {
    text-decoration: none;
    cursor: pointer;

}

/* extension display flex row */
%display_flexrow {
    display: flex;
    flex-direction: row;
}

/* extension display flex column */
%display_flexcolumn {
    display: flex;
    flex-direction: column;
}

/* extension align items center */
%alignitems_center {
    align-items: center;
}

/* extension align items space-between */
%justifycontent_spacebetween {
    justify-content: space-between;
}

%justifycontent_center {
    justify-content: center;
}

/* extension fond en gris clair */
%bg-light-grey {
    background: $color-light-grey;
}

/* extension fond en blanc */
%bg-white {
    background: white;
}

/* extension fond en dégradé */
%bg-gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

%border-radius-all {
    border-radius: 20px;
}

%border-radius-top {
    border-radius: 20px 20px 0 0;
}


/* extension design de card */
%card_design {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: $default-box-shadow;
    transition: 0.3s;
    margin-bottom: 25px;
    margin-right: 5px;
    padding-bottom: 10px;
    position: relative;
}



.loader {
    background: $color-light-grey-2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: apparition-magique 3200ms forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    @extend %font_logo;
    display: none;

    &__verre {
        width: 100px;
        height: 100px;
        position: relative;
    }

    &__verre--mint {
        position: relative;
        top: -103px;
        width: 100px;
        height: 100px;
        z-index: 99;
        animation: diminution-aboire 700ms both;
    }

    &__verre--pink {
        position: relative;
        top: -203px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 700ms both 1000ms;
    }

    &__verre--purple {
        position: relative;
        top: -303px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 700ms both 2000ms;
    }
}

@keyframes apparition-magique {

    0%,
    80% {
        opacity: 1;
        transform: scaleX(1);
    }

    99% {
        opacity: 0;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }


}

@keyframes diminution-aboire {
    0% {
        transform: scaleY(0%) scaleX(0%);
    }

    50% {
        transform: scaleY(70%) scaleX(80%);
    }

    100% {
        transform: scaleY(0%) scaleX(0%);
    }
}

/* configuration du header */
.header {
    width: 100%;
    height: 100%;
    position: relative;


    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-dark-grey;
    }


    /*configuration de la flèche arrière dans le header sur page restaurant : uniquement en version mobile */
    &__container {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

    }

    &__arrow-back {
        padding: 0px 12px;
        position: relative;
        height: 100%;
        font-size: 1.5em;

        @include tab-only {
            padding: 0px 25px 0 25px;

        }
    }


    &__logo-container {
        position: relative;
        width: 90%;
        background: blue;

    }

    /* configuration du logo dans le header sur index.html */
    &__logo {
        @extend %font_logo;
        position: relative;
        width: 100%;
        text-align: center;

        /*@include tab-only {
            max-width: 45vw;
        }*/
    }

    & h1 {
        margin-block-start: 0.25em;
        margin-block-end: 0.25em;
    }

    /* configuration de l'input-container dans le header sur index.html*/
    &__input-container {
        @extend %display_flexrow;
        @extend %alignitems_center;
        position: relative;
    }

    &__greybg {
        @extend %bg-light-grey;
        @extend %display_flexcolumn;
        @extend %alignitems_center;
        padding-bottom: 50Px;
    }

    &__picture {
        & img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
        }
    }

    /* INDEX configuration de la zone input dans le header*/
    &__input-container {
        color: $color-dark-grey;
        background: $color-light-grey-2;
        padding-left: 20px;
        @extend %display_flexrow;
        @extend %justifycontent_center;

        input {
            border: 0;
            background: $color-light-grey-2;
            padding: 10px;

            &::placeholder {
                color: $color-dark-grey;
                font-family: Roboto;
            }
        }
    }

    /* INDEX configuration de l'icone à côté de la zone input */
    &__icone {
        position: relative;
        width: 30px;
        color: $color-dark-grey;
    }

    /* INDEX configuration du bouton violet dans le header sur la page index*/
    &__button {
        @extend %bg-gradient;
        opacity: 1;
        position: relative;
        z-index: 1;
        box-shadow: $default-box-shadow;
        width: fit-content;
        padding: 20px 40px;
        color: white;
        border-radius: 40px;
        cursor: pointer;

        /* insertion d'un pseudo élément pour le changement de couleur au survol*/
        &:after {
            content: "";
            background: linear-gradient(lighten($color-secondary, 3) 0%, lighten($color-primary, 3) 100%);
            box-shadow: $darker-box-shadow;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
            border-radius: 20px;

        }

        /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}


/* INDEX mise en place de la zone décrivant le fonctionnement */
.process {
    padding: 1em;
    padding-bottom: 30px;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-dark-grey;

    }

    &__heading {
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
    }



    /* mise en place du display en version tab */
    &__container {
        display: flex;
        flex-direction: column;
        width: 80%;
        position: relative;
        /*@include tab-only {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }*/
    }

    /* configuration des boutons dans la zone de fonctionnement */
    &__button {
        @extend %display_flexrow;
        @extend %alignitems_center;
        @extend %bg-light-grey;
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;


        border-radius: 20px;
        padding: 5px 20px;
        margin-bottom: 25px;
        cursor: pointer;
        font-weight: 600;
        color: $color-dark-grey;
        position: relative;

        /* insertion d'un pseudo élément pour le changement de couleur au survol*/
        &::after {
            content: "";
            background: lighten($color-primary, 33);
            box-shadow: $darker-box-shadow;
            border-radius: 20px;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
        }

        /* passage de l'opacité de 0 à 1, pour le pseudo élément ci-dessus */
        &:hover {
            &::after {
                opacity: 1;
            }

            &:hover>.process__icon {
                color: $color-primary;
            }

        }
    }

    /* configuration des icônes dans la zone de fonctionnement */
    &__icon {
        color: $color-medium-grey;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1em;
    }

    &__number {
        background: $color-primary;
        padding: 8px 10px 10px 10px;
        color: white;
        border-radius: 50%;
        font-size: 10px;
        height: 8px;
        position: absolute;
        top: 25%;
        left: -10px;

        & p {
            position: relative;
            top: -10px;
            color: white;
        }
    }
}

/* INDEX configuration de la zone restaurants */
.restaurants {
    @extend %bg-light-grey;
    padding: 1em;
}

/* INDEX configuration des cards dans la zone restaurants */
.restaurant-card {

    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-dark-grey;

    }

    /* configuration du container qui contient 2 cards de plats */
    &__principal-container {
        @include tab-only {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    /*configuration du container qui contient : l'image, le texte (et parfois le tag new)*/
    &__elements-container {
        @extend %card_design;
        @extend %display_flexcolumn;

        & p {
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }

    &__picture {
        width: 102.5%;
        height: 25vh;
        object-fit: cover;
        @extend %border-radius-top;
        position: relative;
        top: -5px;
        left: -5px;

        @include tab-only {
            width: 104%;
        }
    }

    &__new-tag {
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        background: #99e2d0;
        color: #008766;
        padding: 5px;
    }

    /* configuration du container qui contient : titre, texte, icone*/
    &__last-line-container {
        @extend %display_flexrow;
        @extend %alignitems_center;
        justify-content: space-between;

    }

    /* configuration du container qui contient text : titre, texte*/
    &__text {
        @extend %display_flexcolumn;
    }

    /* configuration de l'icone coeur dans la card */
    &__heart {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        font-size: 22px;

        &::before {
            @include heart-icon-before;
        }

        &:active::before {
            @include heart-icon-hover-before;
        }
    }


}

/* INDEX stylisation du bouton du menu (sur l'index uniquement) */
.menu {

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: fit-content;
        position: relative;
        padding: 20px 40px;
        color: white;
        border-radius: 40px;
        color: white;
        @extend %bg-gradient;
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;
        margin-bottom: 40px;
        margin-top: 20px;
        cursor: pointer;


        /* stylisation du pseudo élément after avec l'opacity*/
        &:after {
            content: "";
            background: linear-gradient(lighten($color-secondary, 3) 0%, lighten($color-primary, 3) 100%);
            box-shadow: $darker-box-shadow;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            z-index: -1;
            transition: opacity 210ms;
        }


        /* stylisation du pseudo élément lors du hover avec une opacité à 1*/
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}


$width-slide: 60px;
$cards-number: 3;
$anim-dur: 1000ms;
$anim-delay: $anim-dur/$cards-number;


.dish {

    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;

    }

    & h3 {
        margin-block-start: 0em;
    }

    background: $color-light-grey-2;
    position: relative;
    top: -30px;
    padding: 0 20px 0 20px;
    margin-bottom: -45px;
    @extend %border-radius-top;
    box-sizing: content-box;

    &__header {
        @extend %display_flexrow;
        @extend %alignitems_center;
        @extend %justifycontent_spacebetween;

        @include tab-only {
            justify-content: flex-start;
            gap: 10px;
        }

        & h2 {
            margin-block-end: 0em;
        }
    }

    &__restaurant-name {
        @extend %font_logo;
        font-size: 1.8em;
        font-weight: 400;
    }

    &__2-cards-container {
        @extend %display_flexcolumn;

        @include tab-only {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__card {
        @extend %display_flexrow;
        @extend %card_design;
        align-items: flex-end;
        width: 98%;
        height: 50px;
        padding-bottom: 15px;
        padding-right: 10px;
        margin-bottom: 0.5em;
        position: relative;
        opacity: 0;
        animation: progressive-appearance $anim-dur forwards;

        &:hover {
            cursor: pointer;
        }

        @for $i from 1 through $cards-number {
            &--#{$i} {
                animation-delay: ($anim-delay * $i);
            }
        }


        @include tab-only {
            width: 48%;
        }

        &:active>.dish__visible-part {
            width: 70%;
        }

        &:active>.dish__sliding-part {
            opacity: 1;
            transform: translateX(0%);
        }


    }

    &__ok-icon {
        color: white;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transform: rotate(-180deg);
        transition: transform 606ms ease-in-out 150ms;
    }

    &__visible-part {
        position: relative;
        @extend %display_flexcolumn;
        width: 90%;
        transition: width 500ms ease-in-out;
        padding-left: 8px;

        &:active+.dish__sliding-part>.dish__ok-icon {
            transform: rotate(0deg);
        }

    }


    &__title {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 8px;
        font-weight: 500;
        font-size: 1.2em;

    }

    &__description {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;
    }

    &__sliding-part {
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        height: 70px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $width-slide;
        opacity: 0;
        transform: translateX(100%);
        transition: all 500ms ease-in-out;
    }



    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 600;
        padding-right: 10px;
        font-size: 0.9em;
    }
}

.dish-category {
    position: relative;

    @mixin tab-only {
        width: 100vw;
    }


    &__name {
        padding-top: 2em;
        text-transform: uppercase;
        font-weight: 300;

    }

    &__underline {
        border-top: 3px solid $color-tertiary;
        width: 45px;
        position: relative;
        top: -15px;
    }
}


@keyframes progressive-appearance {

    0%,
    20% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}




/* configuration du footer */
.footer {
    background: $color-dark-grey;
    color: white;
    position: relative;
    padding: 1em;

    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;

    }

    & i {
        font-size: 0.8em;
        padding-right: 3px;
    }

    /* configuration du logo dans le footer */
    &__logo {
        @extend %font_logo;
        font-size: 1.1em;
        margin-block-end: 0.5em;
        margin-block-start: 0.5em;
    }

    /* configuration du menu dans le footer */
    &__menu {
        padding-inline-start: 0px;
        line-height: 1.8em;

        & a:link,
        a:visited,
        a:hover,
        a:active {
            color: white;
        }
    }

    /*configuration des éléments de liste dans le menu du footer */
    &__element {
        list-style: none;
        color: white;

        & a:link,
        a:visited,
        a:hover,
        a:active {
            color: white;
        }

        & a:hover {
            font-weight: 500;
        }
    }
}