/* Mise en place du style pour les 3 boutons de processus sur l'index*/
.process {
    &__button {
        @extend %display_flexrow;
        @extend %alignitems_center;
        @extend %bg-light-grey;
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;

        border-radius: 30px;
        padding: 5px 20px;
        margin-bottom: 25px;
        cursor: pointer;
        font-weight: 600;
        color: $color-dark-grey;
        position: relative;
        width: 90%;

        /* Mise en place du style du pseudo élément des 3 boutons de processus sur l'index + parametre de transition*/
        &::after {
            content: "";
            background: lighten($color-primary, 35);
            box-shadow: $darker-box-shadow;
            border-radius: 30px;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity 210ms;
        }

        /* Lors du survol : mise en place du style du pseudo élément des 3 boutons de processus sur l'index + paramètre de transition */
        &:hover {
            &::after {
                opacity: 1;
            }

            /* Lors du survol : mise en place du style de l'icone présente dans le bouton de processus */
            &:hover>.process__icon {
                color: $color-primary;
            }

        }

        /* Media queries, à partir de tab : mise en place du style des 3 boutons de processus sur l'index  */
        @include tab-only() {
            padding: 2.5px 10px;
        }
    }
}

/* Mise en place du style pour le bouton commander sur les menus*/
.menu {
    &__button {
        width: fit-content;
        position: relative;
        padding: 20px 40px;
        color: white;
        border-radius: 40px;
        color: white;
        @extend %bg-gradient;
        opacity: 1;
        z-index: 1;
        box-shadow: $default-box-shadow;
        margin-bottom: 40px;
        margin-top: 20px;
        cursor: pointer;


        /* Mise en place du style du pseudo élément du bouton commander sur les menus + parametre de transition*/
        &:after {
            content: "";
            background: linear-gradient(lighten($color-secondary, 3) 0%, lighten($color-primary, 3) 100%);
            box-shadow: $darker-box-shadow;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            z-index: -1;
            transition: opacity 210ms;
        }


        /* Lors du survol : mise en place du style du pseudo élément du bouton commander sur les menus + paramètre de transition */
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}