/* Mise en place de règles de stylisation pour le body*/
body {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    position: relative;
    box-sizing: content-box;
    overflow-x: hidden;
}



/* Mise en place de règles de stylisation pour les liens */
a {
    text-decoration: none;
    cursor: pointer;
}