/* Mise en place du style pour le loading-spinner de la page + parametre animation*/
.loader {
    background: $color-light-grey-2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: disparition-magique 2500ms forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    @extend %font_logo;
    & > p {
        font-size: 1.8em;
    }

    /* Mise en place du style pour l'élément verre du loading-spinner de la page + parametre animation */
    &__verre {
        width: 100px;
        height: 100px;
        position: relative;
        animation: rotate 500ms;
        z-index: 99;
        overflow: hidden;
    }

    /* Mise en place du style pour le remplissage VERT du verre du loading-spinner de la page + parametre animation*/
    &__verre--mint {
        position: relative;
        top: -103px;
        width: 100px;
        height: 100px;
        z-index: 100;
        animation: diminution-aboire 500ms both 500ms;
        overflow: hidden;
    }

    /* Mise en place du style pour le remplissage ROSE du verre du loading-spinner de la page + parametre animation*/
    &__verre--pink {
        position: relative;
        top: -203px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 500ms both 1000ms;
        overflow: hidden;
    }

    /* Mise en place du style pour le remplissage VIOLET du rose du loading-spinner de la page + parametre animation*/
    &__verre--purple {
        position: relative;
        top: -303px;
        left: 0;
        width: 100px;
        height: 100px;
        animation: diminution-aboire 500ms both 1500ms;
        overflow: hidden;
    }
}


/* Mise en place du style pour la zone de fonctionnement*/
.process {
    padding: 1em;
    padding-bottom: 30px;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    @include tab-only{
        width: 100%;
    }

    /* Mise en place du style pour les liens dans la zone de fonctionnement*/
    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-dark-grey;

    }

    /* Mise en place du style pour l'entête la zone de fonctionnement*/
    &__heading {
        padding-top: 10px;
        margin-block-end: 0.83em;
    }

    /* Mise en place du style pour le container des boutons dans la zone de fonctionnement*/
    &__all-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Media queries : à partir de tab, Mise en place du style pour le container des boutons dans la zone de fonctionnement*/
        @include tab-only() {
            flex-direction: row;
            justify-content: space-evenly;

        }
    }


    /* Mise en place du style pour le container du contenu de chaque bouton dans la zone de fonctionnement*/
    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        white-space: nowrap;
        /*@include tab-only {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }*/
    }

    /* Mise en place du style pour les icones dans la zone de fonctionnement*/
    &__icon {
        color: $color-medium-grey;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1em;
    }

    /* Mise en place du style pour les numéros sur la gauche des boutons dans la zone de fonctionnement*/
    &__number {
        background: $color-primary;
        padding: 8px 10px 13px 10px;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        height: 8px;
        position: absolute;
        top: 23%;
        left: -10px;

        /* Mise en place du style pour les paragraphes des numéros sur la gauche des boutons dans la zone de fonctionnement*/
        & p {
            position: relative;
            top: -12px;
            color: white;
        }
    }
}

/* Mise en place du style pour la zone de présentation de restaurants*/
.restaurants {
    @extend %bg-light-grey;
    padding: 1em;
    padding-bottom: 50px;
    /* Mise en place du style pour le titre de zone de présentation de restaurants*/
    &__heading {
        margin-top: 1.2em;
    }
}

/* Mise en place du style pour chaque card de restaurants*/
.restaurant-card {

    /* Mise en place du style pour les liens dans chaque card de restaurants*/
    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-dark-grey;

    }

    /* Mise en place du style pour le conteneur de toutes les cards restaurants*/
    &__principal-container {
        width: 100%;

        /* Media queries : à partir de tab, mise en place du style pour le conteneur de toutes les cards restaurants*/

        @include tab-only {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    /* Mise en place du style pour les éléments du container des cards de restaurants : image, texte ou/et tag "nouveau"*/
    &__elements-container {
        @extend %card_design;
        margin-bottom: 16px;
        @extend %display_flexcolumn;
        width: 100%;
        @include tab-only{
            width: 35vw;
        }


        /* Mise en place du style pour les p à l'interieur du container des cards de restaurants : image, texte ou/et tag "nouveau"*/
        & p {
            margin-block-start: 0em;
            margin-block-end: 0em;

        }

    }

    /* Mise en place du style pour les photos à l'intérieur des cards de restaurants*/
    &__picture {
        height: 180px;
        width: 100%;
        object-fit: cover;
        @extend %border-radius-top;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;


        /* Media queries : à partir de tab, Mise en place du style pour les photos à l'intérieur des cards de restaurants */
        @include tab-only {
            width: 100%;
        }
    }

    /* Mise en place du style pour le tag "nouveau"*/
    &__new-tag {
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        background: #99e2d0;
        color: #008766;
        padding: 5px 10px;
    }

    /*Mise en place du style pour la dernière ligne à l'intérieur des cards de restaurants : titre, texte, icone*/
    &__last-line-container {
        margin-top: 180px;
        @extend %display_flexrow;
        @extend %alignitems_center;
        justify-content: space-between;

    }

    /*Mise en place du style pour uniquement le texte de la dernière ligne à l'intérieur des cards de restaurants : titre, texte*/
    &__text {
        @extend %display_flexcolumn;
        padding-top: 6px;
        padding-left: 10px;
        line-height: 1.3em;
        padding-bottom: 6px;
        color: black;

        /*Mise en place du style pour uniquement le titre de la dernière ligne à l'intérieur des cards de restaurants*/
        & p:first-child {
            font-weight: 600;
        }

    }

    /*Mise en place du style pour l'icone dans la dernière ligne à l'intérieur des cards de restaurants : titre, texte*/
    &__heart {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        font-size: 22px;

        /*Mise en place du style du pseudo-élément before pour l'icone dans la dernière ligne à l'intérieur des cards de restaurants*/
        &::before {
            @include heart-icon-before;
        }

        /*Lors du clic : mise en place du style du pseudo-élément after pour l'icone dans la dernière ligne à l'intérieur des cards de restaurants*/
        &:active::before {
            @include heart-icon-hover-before;
        }
    }


}