/*Mise en place du style pour chaque catégorie de plats sur les pages de restaurants*/
.dish-category {
    position: relative;

    /*Media queries : à partir de tablette, Mise en place du style pour chaque catégorie de plats sur les pages de restaurants*/
    @mixin tab-only {
        width: 100vw;
    }

    /*Mise en place du style pour les titres de catégorie des plats sur les pages de restaurants*/
    &__name {
        margin-block-start: 0em;
        padding-top: 2em;
        text-transform: uppercase;
        font-weight: 300;

    }

    /*Mise en place du style pour le soulignement des titres de catégorie des plats sur les pages de restaurants*/
    &__underline {
        border-top: 3px solid $color-tertiary;
        width: 45px;
        position: relative;
        top: -15px;
    }
}



/*Mise en place du style pour la section des plats sur les pages de restaurants*/
.dish {
    background: $color-light-grey;
    position: relative;
    top: -30px;
    padding: 0 20px 0 20px;
    margin-bottom: -45px;
    @extend %border-radius-top;
    box-sizing: content-box;

    /*Mise en place du style pour les liens de la section des plats sur les pages de restaurants*/
    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;

    }




    /*Mise en place du style pour l'entête dans la section des plats sur les pages de restaurants*/
    &__header {
        @extend %display_flexrow;
        @extend %justifycontent_spacebetween;
        align-items: baseline;

        /*Media queries : à partir de tab, Mise en place du style pour l'entête dans la section des plats sur les pages de restaurants*/
        @include tab-only {
            justify-content: flex-start;
            gap: 10px;
        }
    }

    /*Mise en place du style pour le nom du restaurant sur les pages de restaurants*/
    &__restaurant-name {
        @extend %font_logo;
        font-size: 1.8em;
        font-weight: 400;
        margin-block-end: 0em;

    }

    /*Mise en place du style pour un conteneur contenant uniquement 2 cards sur les pages de restaurants*/
    &__2-cards-container {
        @extend %display_flexcolumn;

        /*Media queries : à partir de tab, mise en place du style pour un conteneur contenant uniquement 2 cards sur les pages de restaurants*/
        @include tab-only {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    /*Mise en place du style pour les cards de plats, sur les pages de restaurants + animation progressive des cartes de plats*/
    &__card {
        @extend %display_flexrow;
        @extend %card_design;
        align-items: flex-end;
        width: 98%;
        height: 50px;
        padding-bottom: 15px;
        padding-right: 10px;
        margin-bottom: 0.5em;
        position: relative;
        opacity: 0;
        animation: progressive-appearance $anim-dur forwards;

        /*Media queries: à partir de tab, Mise en place du style pour les cards de plats, sur les pages de restaurants*/
        @include tab-only {
            width: 48%;
        }

        /*Lors du survol : Mise en place du style pour les cards de plats, sur les pages de restaurants*/
        &:hover {
            cursor: pointer;
        }

        /*Création d'une fonction pour créer un délai d'animation en fonction d'un délai d'animation de base et du nombre de carte*/
        @for $i from 1 through $cards-number {
            &--#{$i} {
                animation-delay: ($anim-delay * $i);
            }
        }

        /*Lors du clic : mise en place de la largeur de la partie visible de la card de plat*/
        &:hover>.dish__visible-part {
            width: 60%;
        }

        /*Media queries, lors du clic : mise en place de la largeur de la partie visible de la card de plat*/
        @include tab-only {
            &:hover>.dish__visible-part {
                width: 78%;
            }
        }


        /*Lors du clic : mise en place du style de la partie qui se déplace pour recouvrir la card du plat + parametre de transition*/
        &:hover>.dish__sliding-part {
            opacity: 1;
            transform: translateX(0%);
        }


    }

    /*Mise en place du style pour l'icone dans la partie qui se déplace pour recouvrir la card du plat*/
    &__ok-icon {
        color: white;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transform: rotate(360deg);
    }

    /*Mise en place du style de la partie qui se déplace pour recouvrir la card du plat + parametre transition*/
    &__visible-part {
        position: relative;
        @extend %display_flexcolumn;
        width: 90%;
        transition: width 400ms ease-in-out;
        padding-left: 8px;

        /*Lors du clic : Mise en place du style de l'icpone dans la partie qui se déplace pour recouvrir la card du plat + parametre animation*/
        &:hover+.dish__sliding-part>.dish__ok-icon {
            animation: rotate 400ms ease-in-out 200ms forwards;
        }
    }

    /*Mise en place du style du titre de plat dans la card de plat*/
    &__title {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 8px;
        font-weight: 500;
        font-size: 1.2em;

    }

    /*Mise en place du style de la description du plat dans la card de plat*/
    &__description {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;

    }

    /*Mise en place du style de la partie qui se déplace pour recouvrir la card de plat*/
    &__sliding-part {
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        height: 70px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $width-slide;
        opacity: 0;
        transform: translateX(100%);
        transition: all 500ms ease-in-out;
    }


    /*Mise en place du style de la description du prix dans la card de plat*/
    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 600;
        padding-right: 10px;
        font-size: 0.9em;
    }
}



/* Mise en place du style du container de bouton "commander" en bas de page */
.menu {
    &__button-container {
        display: flex;
        justify-content: center;
    }
}