/* Mise en place de keyframes pour faire disparaitre le spinning-loader sur la page index*/
@keyframes disparition-magique {

    0%,
    80% {
        opacity: 1;
        transform: scaleX(1);
    }

    99% {
        opacity: 0;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }


}

/* Mise en place de keyframes pour faire varier les hauteurs de quantité de liquide dans le verre présent dans le loading-spinner sur la page index*/
@keyframes diminution-aboire {
    0% {
        transform: scaleY(0) scaleX(0);
    }

    50% {
        transform: scaleY(0.7) scaleX(0.8);
    }

    100% {
        transform: scaleY(0) scaleX(0);
    }
}


/* Mise en place de keyframes pour faire tourner l'icône ok lors du clic sur une card de plats sur les pages de restaurants et pour faire tourner le verre du loading spinner sur l'index*/

@keyframes rotate {

    0%,
    20% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Mise en place de keyframes pour faire apparaître les cards de repas de façon progressive sur les pages de restaurants*/
@keyframes progressive-appearance {

    0%,
    20% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes plane{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes ny{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes paris-tab{
    0%{
        opacity: 0;
        transform: scale(100%) translateX(0%);

    }
    50%{
        opacity: 1;
        transform: scale(100%) translateX(0%);
    }
    100%{
        transform: scale(200%) translateX(-50%);
        opacity: 1;
    }
}

@keyframes paris{
    0%{
        opacity: 0;
        transform: scale(100%) translateX(0%);

    }
    50%{
        opacity: 1;
        transform: scale(100%) translateX(0%);
    }
    100%{
        transform: scale(200%) translateX(-30%);
        opacity: 1;
    }
}