/* Mise en place du style pour le footer*/
.footer {
    background: $color-dark-grey;
    color: white;
    position: relative;
    padding: 1em;

    /* Mise en place du style pour les liens du footer*/
    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;
    }

    /* Mise en place du style pour les icones du footer*/
    & i {
        font-size: 0.8em;
        padding-right: 3px;
    }

    /* Mise en place du style pour le logo du footer*/
    &__logo {
        @extend %font_logo;
        font-size: 1.1em;
        margin-block-end: 0.5em;
        margin-block-start: 0.5em;
    }

    /* Mise en place du style pour le menu dans le footer*/
    &__menu {
        padding-inline-start: 0px;
        line-height: 1.8em;

    }

    /* Mise en place du style pour les éléments de liste du footer*/
    &__element {
        list-style: none;
        color: white;

        & a:hover {
            font-weight: 500;
        }
    }
}