/* configuration du footer */
.footer {
    background: $color-dark-grey;
    color: white;
    position: relative;
    padding: 1em;

    & a:link,
    a:visited,
    a:hover,
    a:active {
        color: white;

    }

    & i {
        font-size: 0.8em;
        padding-right: 3px;
    }

    /* configuration du logo dans le footer */
    &__logo {
        @extend %font_logo;
        font-size: 1.1em;
        margin-block-end: 0.5em;
        margin-block-start: 0.5em;
    }

    /* configuration du menu dans le footer */
    &__menu {
        padding-inline-start: 0px;
        line-height: 1.8em;

        & a:link,
        a:visited,
        a:hover,
        a:active {
            color: white;
        }
    }

    /*configuration des éléments de liste dans le menu du footer */
    &__element {
        list-style: none;
        color: white;

        & a:link,
        a:visited,
        a:hover,
        a:active {
            color: white;
        }

        & a:hover {
            font-weight: 500;
        }
    }
}